body {
    background: #f1f1f1;
}
.content {
    padding: 15px 15px 60px 15px;
}
.layui-layout-admin .layui-logo, .layui-layout-admin .layui-side, .layui-nav-tree{
    width: 240px;
}

.layui-side-scroll {
    width: 260px;
}

.layui-body, .layui-layout-admin .layui-footer{
    left: 240px;
}


.content-body {
    margin-top: 20px;
}

.layui-table td, .layui-table th {
    text-align: center;
}

.layui-nav-tree .layui-nav-child a {
    margin-left: 20px;
}

.layui-table-cell {
    height: 35px;
}