<div class="main-header-game">
    <ul>
        {foreach $gameList as $key => $value}
        {switch $value.game_type}
            {case 六合彩}
            <li {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/sixLottery?type={$value.game_name}">{$value.game_name}</a></li>
            {/case}
            {case 赛车}
            <li {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/carLottery?type={$value.game_name}">{$value.game_name}</a></li>
            {/case}
            {case 时时彩}
            <li {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/everyColor?type={$value.game_name}">{$value.game_name}</a></li>
            {/case}
        {/switch}
        {/foreach}
        <li><a href="javascript:void(0)">更多游戏</a></li>
    </ul>
</div>