<div class="main-header-game">
    <ul>
        <li {if condition="$type == '香港六合彩'"}class="selected"{/if}><a href="/main/game/sixLottery?type=香港六合彩">香港六合彩</a></li>
        <li {if condition="$type == '澳门六合彩'"}class="selected"{/if}><a href="/main/game/sixLottery?type=澳门六合彩">澳门六合彩</a></li>
        <li {if condition="$type == '极速六合彩'"}class="selected"{/if}><a href="/main/game/sixLottery?type=极速六合彩">极速六合彩</a></li>
        <li {if condition="$type == '北京赛车'"}class="selected"{/if}><a href="/main/game/carLottery?type=北京赛车">北京赛车</a></li>
        <li {if condition="$type == '幸运飞艇'"}class="selected"{/if}><a href="/main/game/carLottery?type=幸运飞艇">幸运飞艇</a></li>
        <li {if condition="$type == '三分赛车'"}class="selected"{/if}><a href="/main/game/carLottery?type=三分赛车">三分赛车</a></li>
        <li {if condition="$type == '重庆时时彩'"}class="selected"{/if}><a href="/main/game/everyColor?type=重庆时时彩">重庆时时彩</a></li>
    </ul>
</div>