<div class="header-menu">
    <ul>
        <li>
            <a href="/main/balanceLog">
                账变明细
            </a>
        </li>
        <li>
            <a href="/main/todayClose">今天已结</a>
        </li>
        <li>
            <a href="/main/history">历史报表</a>
        </li>
        <li>
            <a href="/main/result">
                开奖结果
            </a>
        </li>
<!--        <li>充值记录</li>-->
        <li>
            <a href="/main/logout">
                退出登录
            </a>
        </li>
    </ul>
</div>