<div class="main-header-game">
    <ul>
        {foreach $gameList as $key => $value}
        {switch $value.game_type}
            {case 六合彩}
            <li {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/sixLottery?type={$value.game_name}">{$value.game_name}</a></span>
            {/case}
            {case 赛车}
            <li {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/carLottery?type={$value.game_name}">{$value.game_name}</a></li>
            {/case}
            {case 时时彩}
            <li {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/everyColor?type={$value.game_name}">{$value.game_name}</a></li>
            {/case}
        {/switch}
        {/foreach}
        <span id="more">
            <a href="javascript:void(0)">
            更多游戏 <i class="layui-icon layui-icon-down"></i>
            </a>
            <div class="openMoreGame">
                <div class="layui-panel openMoreGameList">
                    {foreach $moreGameList as $key => $value}
                    {switch $value.game_type}
                    {case 六合彩}
                    <span {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/sixLottery?type={$value.game_name}">{$value.game_name}</a></span>
                    {/case}
                    {case 赛车}
                    <span {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/carLottery?type={$value.game_name}">{$value.game_name}</a></span>
                    {/case}
                    {case 时时彩}
                    <span {if condition="$type == $value.game_name"}class="selected"{/if}><a href="/main/game/everyColor?type={$value.game_name}">{$value.game_name}</a></span>
                    {/case}
                    {/switch}
                    {/foreach}
                </div>
            </div>
        </li>
        <script>
            let isShow = true
            window.onload = function() {
                layui.use('jquery',function() {
                    let $ = layui.$
                    $('#more').on('click', function() {
                        if (isShow) {
                            $('.openMoreGame').show()
                        } else {
                            $('.openMoreGame').hide()
                        }
                        isShow = !isShow
                    })
                })
            }
        </script>
    </ul>
</div>