<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <div class="layui-card">
            <div class="layui-card-header">
                账户信息
            </div>
            <div class="layui-card-body">
                <span>账 号：{$userInfo.account}</span>
                <p>账号余额：10000</p>
                <p>未结金额：10000</p>
            </div>
        </div>
        <div class="side-scroll-btn">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">在线充值</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">在线提款</button>
        </div>
        <div class="btn-list">
            <a href="/main/myOrder" class="layui-btn layui-btn-sm layui-btn-normal layui-btn-fluid">我的下注</a>
        </div>
    </div>
</div>