{extend name="common/public" /}

{block name="title"}
{$title} - 配置
{/block}

{block name="content"}

<span class="layui-breadcrumb">
    <a><cite>首页</cite></a>
    <a><cite>彩种配置</cite></a>
    <a href="/admin/games/gamesList">彩种列表 </a>
    <a><cite>{$title} - 配置</cite></a>
</span>

<div class="content-body">
    <div class="layui-card">
        <div class="layui-card-header">
            {$title} - 配置
        </div>
        <div class="layui-card-body">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">冠、亚总和</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['topOrTwoTotal'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="topOrTwoTotalConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">冠军</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['champion'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="championConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">亚军</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['secondPlace'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="secondPlaceConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第三名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['third'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="thirdConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第四名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['fourth'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="fourthConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第五名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['fifth'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="fifthConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第六名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['sixth'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="sixthConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第七名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['seventh'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="seventhConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第八名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['eighth'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="eighthConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第九名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['ninth'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="ninthConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">第十名</h2>
                    <div class="layui-colla-content layui-form">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="250">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>赔率</th>
                                <th>退水</th>
                                <th>单注最低</th>
                                <th>单注最高</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $config['tenth'] as $key => $value}
                            <input type="hidden" name="type-{$value.type}" value="{$value.type}">
                            <tr class="layui-form">
                                <td>{$value.type}</td>
                                <td>
                                    <input type="text" name="odds-{$value.type}" value="{$value.odds}" placeholder="请输入赔率" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="return-{$value.type}" value="{$value.return}" placeholder="请输入退水" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMin-{$value.type}" value="{$value.singleNoteMin}" placeholder="请输入单注最低" autocomplete="off" class="layui-input">
                                </td>
                                <td>
                                    <input type="text" name="singleNoteMax-{$value.type}" value="{$value.singleNoteMax}" placeholder="请输入单注最高" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="layui-form-item" style="margin-top: 15px">
                            <button class="layui-btn" lay-submit lay-filter="tenthConfigSubmit">立即提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    var gameId = '{$gameId}';
    var gameType = '{$title}'
    layui.use(['layer', 'form', 'laypage', 'element'], function(){
        let $ = layui.$, layer = layui.layer, form = layui.form, laypage = layui.laypage, element = layui.element;

        function saveData(type, data) {
            let loading = layer.load(1, {shade: [0.3,'#000']});
            $.post('/admin/games/saveConfig',
                {type: gameType, "typeItem": type, config: data, gameId: gameId},
                function(resp) {
                    layer.closeAll();
                    if (resp.code != 0) {
                        layer.msg(resp.errors, {icon: 5, shift: 6, time: 1500} );
                        return false;
                    } else {
                        layer.msg("保存成功！", {icon: 1, time: 1500});
                    }
                }).error(function() {
                layer.closeAll();
                layer.msg("服务器出现异常！", {icon: 5, shift: 6} );
            })
        }

        form.on('submit(topOrTwoTotalConfigSubmit)', function(obj) {
            saveData("topOrTwoTotalConfig", obj.field)
        })

        form.on('submit(championConfigSubmit)', function(obj) {
            saveData("championConfig", obj.field)
        })

        form.on('submit(secondPlaceConfigSubmit)', function(obj) {
            saveData("secondPlaceConfig", obj.field)
        })

        form.on('submit(thirdConfigSubmit)', function(obj) {
            saveData("thirdConfig", obj.field)
        })

        form.on('submit(fourthConfigSubmit)', function(obj) {
            saveData("fourthConfig", obj.field)
        })
        

        form.on('submit(fifthConfigSubmit)', function(obj) {
            saveData("fifthConfig", obj.field)
        })

        form.on('submit(sixthConfigSubmit)', function(obj) {
            saveData("sixthConfig", obj.field)
        })

        form.on('submit(seventhConfigSubmit)', function(obj) {
            saveData("seventhConfig", obj.field)
        })

        form.on('submit(eighthConfigSubmit)', function(obj) {
            saveData("eighthConfig", obj.field)
        })
        
        form.on('submit(ninthConfigSubmit)', function(obj) {
            saveData("ninthConfig", obj.field)
        })

        form.on('submit(tenthConfigSubmit)', function(obj) {
            saveData("tenthConfig", obj.field)
        })
    })
</script>
{/block}